.env
venv

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.egg-info
*.egg
*.whl
*.coverage
.DS_Store
Thumbs.db
.idea/
.vscode/
node_modules/
dist/
build/
*.bak
*.swp
*.tmp
*.orig
*.lock
*.tar.gz
*.zip
*.7z
*.rar
*.bak
*.old
*.out
*.log.*
firebaseKey.json